:root {
  --main-bg: #141d2b;
  --dark-bg: #0b121f;
  --light-bg: #1e2939;
  --text: #a4b1cd;
  --accent: #9fef00;
  --heading: #cad2e2;

  --opacity: 80%;
  --border-color: color-mix(in srgb, currentColor var(--opacity), transparent);
  --radius: 5px;
  --table-border-width: 1px;
}

body {
  display: flex;
  padding: 0px;
  margin: 0px;
  background-color: var(--main-bg);
  color: var(--text);
  min-height: 100vh;
}

* {
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
}
::selection {
  background-color: var(--accent);
  color: var(--dark-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-size: 20px;
  color: var(--heading);
}

nav {
  min-width: 250px;
  background-color: var(--dark-bg);
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-container {
  display: flex;
  flex-direction: column;
}

nav button {
  font-size: 17px;
  background-color: var(--main-bg);
  border: 1px solid transparent;
  outline: none;
  border-radius: var(--radius);
  color: var(--text);
  padding: 5px 10px;
  text-align: left;
  position: relative;
}

nav button:hover {
  /* color: var(--accent); */
  border: 1px solid var(--border-color);
}

.active {
  color: var(--accent);
  border: 1px solid transparent;
}

nav button > svg {
  position: relative;
  top: 3.5px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
  padding: 30px;
}

form,
dialog {
  border-radius: var(--radius);

  color: var(--text);
  border: none;
  background-color: var(--dark-bg);
  width: 500px;
  margin: 0 auto;
  position: relative;
}

label {
  display: block;
  display: flex !important;
  flex-direction: column;
}

input,
select {
  border-radius: var(--radius);

  padding: 8px;
  margin: 10px;
  background-color: var(--light-bg);
  color: var(--text);
  border: none;
}

option,
select,
select * {
  border-radius: var(--radius);

  background: var(--light-bg);
  color: var(--text);
}

.btn-container {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.btn-container * {
  background-color: transparent;
  color: var(--text);
  border: 1px solid currentColor;
  border-radius: var(--radius);
  outline: none;
  padding: 7px 15px;
  display: inherit;
}

.btn-container *:hover {
  color: var(--accent);
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
  background-color: var(--dark-bg);
}

.todo p:nth-child(2) {
  display: none;
}

.hidden {
  display: hidden;
}

.todo button {
  margin: 0px 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
  position: relative;
  top: 3.3px;
}

.todo-btn-container {
  display: flex;
  align-items: center;
}

.todo:hover p,
.todo-btn-container {
  display: none;
}
.todo:hover p.todo-description {
  display: block;
}
.todo:hover .todo-btn-container {
  display: flex;
}
.todo-btn-container button:hover {
  color: var(--accent);
}
