nav {
  min-width: 250px;
  background-color: var(--dark-bg);
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

nav button,
.add-project,
#save {
  font-size: 17px;
  background-color: var(--main-bg);
  border: 1px solid transparent;
  outline: none;
  border-radius: var(--radius);
  color: var(--text);
  padding: 5px 10px;
  text-align: left;
  position: relative;
}

nav button:hover {
  /* color: var(--accent); */
  border: 1px solid var(--border-color);
}

.active {
  color: var(--accent);
  border: 1px solid transparent;
}

nav button svg,
.add-project svg {
  position: relative;
  top: 3.3px;
}

#save {
  background-color: var(--accent);
  color: var(--dark-bg);
  text-align: center;
  max-width: 100px;
  margin: 0 auto;
  /* margin-top: 15px; */
}

.delSvg {
  display: none;
  z-index: 99;
}
button:hover .delSvg {
  display: block;
}
.delSvg:hover {
  color: var(--accent);
}
